.react-color-square {
// BEGIN OF COMPONENT STYLE

margin: 10px 0;
border: 1px solid #000;
border-radius: 10px;
font-weight: bold;
text-transform: uppercase;
padding: 20px;

// END OF COMPONENT STYLE
}
